body{
  font-family: 'Poppins', sans-serif;
  color: #194276;
}
img{
  max-width: 100%;
}
iframe{
  max-height: 90%;
}
h1{text-align: center;
  font-family: 'Varela Round', sans-serif;
  padding-bottom: 1%;
}

header{
    display: block;
    text-align: center;
    margin-bottom: 25px;

}
nav{ 
    padding-top: 20px;
    font-family: 'Varela Round', sans-serif;

  }
nav a{
  padding-left: 13px;
  color: #194276;
  font-weight: 500;
  font-size: 20px;
}  
nav a:hover{
  
  text-decoration: underline #450e22 4px;
}
a{ 
    text-decoration: none;
}  
#portfolio{
    display: inline-flex;
    width: 102%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    position: absolute;
    margin-left: -15px;

}
.item_info {
    position: relative;
    display: inline-block;
    
  }
  .item_info img {
    display: block;
  }
  .shadow {
    display: none;
  }
  .item_info {
    width: 100%;
  }
  .item_info img {
    width: 100%;
  }
  .shadow {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: opacity .2s cubic-bezier(.6,.19,.77,.76)
  }
  .item_info:hover .shadow {
    background-color: rgba(57,57,57,.7);
    opacity: 1;
  }
  .text {
    padding: 0;
    border: none;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    padding-top: 15%;
    font-size: 2.3vw;
    font-weight: 200;
  }
  .item_info:hover .text{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  .cover{
    text-align: center;
    width: 50%;
    margin: -2.5px;
  }
  h1{
    font-size: 50px;
    color:#450e22;
  }
  h3{
    text-align: justify;
    max-width: 70%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #05080b;
    font-weight: 200;
    line-height: 125%;

  }
  .flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .flex img{
    width: 33%;
  }
  iframe{
    display: block;
    margin: auto;
    max-height: 90%;
  }
  .flex2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
  .flex2 img{
    width:33.333%;
  }
  .imgblock{
    display: block;
    margin: auto;
  }
  .flex3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .flex3 img{
    width: 49.5%;
    margin-bottom: 1%;
  }
  .gallery{
    width: 90%;
    margin: auto;
  }
  .container{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    
  }
  .mobilecontainer{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 90%;
    padding-top: 50.25%;
    
  }
  .responsiveframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;

  }
  h4{
    text-align: center;
    font-size: 25px;
    padding-top: 5%;
  }
  h2{
    margin-top: 10px;
    margin-bottom: 5%;
  }
  .about{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 3%;
  }
  .about img{
    width: 500px;
    display: block;
  }
  .resume{
    padding-top: 25px;
    display: block;
    margin: auto;
  }
button{
  display: block;
  padding: 10px;
  margin: auto;
  text-align: center;
  background-color: #194276;
  color: #fff;
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
  border: 0;
  box-shadow: none;
  border-radius: 0px;
  border: #194276 solid 2px;
}
button:hover{
  background-color: #fff;
  color: #194276;
  border: #194276 solid 2px;
}
footer{
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;
  text-align: center;
}
footer h2{
  margin-bottom: 10px;
}
#love{
  display: flex;
  flex-wrap: wrap;
}
.photo{
  width: 20%;
  

}
h4{
  padding-bottom: 10px;
}
.doesitblend h3{
  text-align: center;
  margin-left:5%;
  margin-right: 5%;
}
.doesitblend h4{
  padding-bottom: 5px;
}
.bottomspace{
  margin-bottom: 5%;
}
#shorter{
  max-width: 70%;
  margin: 0 auto;
  display: block;
}
.treebook{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.treebook img{
  width: 49.75%;
  margin-bottom: .50%;
}
  @media only screen and (min-width: 600px) {
    .cover{
        width: 33.3333%;
    }
    header{
        display: flex;
        justify-content: space-between;
        margin-top: 2%;
        margin-left: 3%;
        margin-right: 3%;

    }
    nav { 
        padding-top: 30px;
        text-decoration: none;
      }
  }
  .neighbor{
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
  }
  h5{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #05080b;
    font-weight: 200;
    line-height: 125%;
    
  }
  .persona{
    max-width: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    
  }
  .persona img{
    max-width: 50%;
  }
  .persona li{
    font-size: 18px;
    color: #05080b;
    font-weight: 200;
    line-height: 125%;
    list-style-type: circle;
    margin-left: 45px;
  }
  #behaviour{
    list-style-type: none;
    margin-left: 0;
    font-weight: 400;
    line-height: 150%;

  }
  #frustrations{
    list-style-type: none;
    margin-left: 0;
    font-weight: 400;
    line-height: 150%;

  }
  #leftspace{
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
  }
  #headerspace{
    padding-bottom: 2%;
  }